^*.pdf
^*.svg
.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rapp.history
.DS_Store
data/import/
data/export_LDmat/
data/export_manuscript/
data/export_cis_sumstats/
data/export_harmonization/
figures/*
manuscript/
references.bib
refs/
submission/
zz_trash/
.Rproj.user
