.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rapp.history
.DS_Store
analysis/figure
analysis/*png
analysis/*html
analysis/*_cache
analysis/site_libs
data/2018-07-18_SNP_AF_for_AlleleB_combined_allele_counts_and_MAF_pos_added.txt/2018-07-18_SNP_AF_for_AlleleB_combined_allele_counts_and_MAF_pos_added.txt
refs/Karhunen-2021-Diabetologia.pdf
*.txt
data/cis_eqtl_sumstats/cis-eQTL-SMR_20191212.tar.gz
code/IL6R-säästö-susie-mr.R
code/IL2RB-säästö-susie-mr.Rmd
code/IL2RA-säästö.Rmd
data/export/IFNAR2_eqtl_TwoSampleMR.csv
data/export/IFNAR2_eqtl_TwoSampleMR.csv
data/export/IFNAR2_LDmat.RData
data/export/IL12B_LDmat.RData
data/export/IL2RA_eqtl_TwoSampleMR.csv
data/export/IL2RA_LDmat.RData
data/export/IL2RB_eqtl_TwoSampleMR.csv
data/export/IL2RB_LDmat.RData
data/export/IL2RG_eqtl_TwoSampleMR.csv
data/export/IL6R_eqtl_TwoSampleMR.csv
data/export/IL6R_LDmat.RData
data/export/IL6R_prot_anno_TwoSampleMR.csv
data/export/IL6ST_LDmat.RData
data/export/JAK1_eqtl_TwoSampleMR.csv
data/export/JAK1_LDmat.RData
data/export/JAK2_eqtl_TwoSampleMR.csv
data/export/JAK2_LDmat.RData
data/export/JAK3_eqtl_TwoSampleMR.csv
data/export/JAK3_LDmat.RData
data/export/phenoscanner-functional-variants-rsids.RDS
data/export/phenoscanner-functional-variants.RDS
data/export/TYK2_eqtl_TwoSampleMR.csv
data/export/TYK2_LDmat.RData
