IL2RA_Spleen_TwoSampleMR.csv
IL2RA_bin_TwoSampleMR.csv
IL2RA_bmem_TwoSampleMR.csv
IL2RA_cd4et_TwoSampleMR.csv
IL2RA_cd4nc_TwoSampleMR.csv
IL2RA_cd4sox4_TwoSampleMR.csv
IL2RA_cd8et_TwoSampleMR.csv
IL2RA_cd8nc_TwoSampleMR.csv
IL2RA_cd8s100b_TwoSampleMR.csv
IL2RA_monoc_TwoSampleMR.csv
IL2RA_nk_TwoSampleMR.csv
IL2RA_nkr_TwoSampleMR.csv
IL6R_Pancreas_TwoSampleMR.csv
IL6R_Spleen_TwoSampleMR.csv
IL6R_bin_TwoSampleMR.csv
IL6R_bmem_TwoSampleMR.csv
IL6R_cd4et_TwoSampleMR.csv
IL6R_cd4nc_TwoSampleMR.csv
IL6R_cd4sox4_TwoSampleMR.csv
IL6R_cd8et_TwoSampleMR.csv
IL6R_cd8nc_TwoSampleMR.csv
IL6R_cd8s100b_TwoSampleMR.csv
IL6R_dc_TwoSampleMR.csv
IL6R_monoc_TwoSampleMR.csv
IL6R_mononc_TwoSampleMR.csv
IL6R_nk_TwoSampleMR.csv
IL6R_plasma_TwoSampleMR.csv
IL6ST_Pancreas_TwoSampleMR.csv
IL6ST_Spleen_TwoSampleMR.csv
IL6ST_bin_TwoSampleMR.csv
IL6ST_bmem_TwoSampleMR.csv
IL6ST_cd4et_TwoSampleMR.csv
IL6ST_cd4nc_TwoSampleMR.csv
IL6ST_cd4sox4_TwoSampleMR.csv
IL6ST_cd8et_TwoSampleMR.csv
IL6ST_cd8nc_TwoSampleMR.csv
IL6ST_cd8s100b_TwoSampleMR.csv
IL6ST_dc_TwoSampleMR.csv
IL6ST_monoc_TwoSampleMR.csv
IL6ST_mononc_TwoSampleMR.csv
IL6ST_nk_TwoSampleMR.csv
IL6ST_nkr_TwoSampleMR.csv
IL6ST_plasma_TwoSampleMR.csv
NA_NA_TwoSampleMR.csv
TYK2_Pancreas_TwoSampleMR.csv
TYK2_Spleen_TwoSampleMR.csv
TYK2_bin_TwoSampleMR.csv
TYK2_bmem_TwoSampleMR.csv
TYK2_cd4et_TwoSampleMR.csv
TYK2_cd4nc_TwoSampleMR.csv
TYK2_cd4sox4_TwoSampleMR.csv
TYK2_cd8et_TwoSampleMR.csv
TYK2_cd8nc_TwoSampleMR.csv
TYK2_cd8s100b_TwoSampleMR.csv
TYK2_dc_TwoSampleMR.csv
TYK2_monoc_TwoSampleMR.csv
TYK2_mononc_TwoSampleMR.csv
TYK2_nk_TwoSampleMR.csv
TYK2_nkr_TwoSampleMR.csv
TYK2_plasma_TwoSampleMR.csv
